# Compiled class files
out/
*.class

# Temporary / log files
*.log
*.tmp

# SQLite database (ignore real database)
hostel.db

# JavaFX SDK
javafx/

# IDE files
.vscode/
*.iml
*.idea/
*.ipr
*.iws

# OS / system files
.DS_Store
Thumbs.db

# Libraries (keep lib folder)
!lib/

# Optional project folders
HostelApp/javafx/
HostelApp/out/
